@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;800;900&display=swap');

* {

    
}

body {
    background-color: rgb(0, 0, 0);
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

header h1 {
    font-family: 'Tektur', cursive, Verdana, Geneva, Tahoma, sans-serif;
}

header {
    margin-top: 40px;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
}

header h2 {
    color: greenyellow;
    font-family: 'Tektur', cursive;
    margin-top: 60px;

}

.destaques {
    color: greenyellow;
}

section {

}
section h2 {
    color: greenyellow;
    font-family: 'Tektur', cursive, Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 60px;
}


.redesFacebook {
    background-color: white;
    text-align: center;
    position: relative;
    border-radius: 15px;
    display: inline-flex;
    font-family: 'Tektur', cursive, Verdana, Geneva, Tahoma, sans-serif;

}

.redesFacebook:hover {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #3A559F, 0 0 35px #3A559F, 0 0 40px #3A559F, 0 0 50px #3A559F, 0 0 75px #3A559F;
    transition: 0.3s;
    transform: scale(105%);

}

.redesFacebook > img {
    width: 95px;
    display: inline-flex;
    position: absolute;
    top: 0;
    bottom: 15%;
    border-radius: 15px;

}
.redesFacebook > p {
    display: inline;
    text-align: start;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin-left: 120px;
    min-width: 350px;
}


.redesInstagram {
    background-color: white;
    margin: 10px 0px 0px 0px;
    text-align: center;
    position: relative;
    border-radius: 25px 15px 15px 25px;
    display: inline-flex;
}

.redesInstagram:hover {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF5F40, 0 0 35px #FF5F40, 0 0 40px #FF5F40, 0 0 50px #FF5F40, 0 0 75px #FF5F40;
    transition: 0.3s;
    transform: scale(105%);

}

.redesInstagram > img {
    width: 95px;
    display: inline-flex;
    position: absolute;
    top: 0;
    bottom: 15%;

}
.redesInstagram > p {
    display: inline-flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin-left: 120px;
    min-width: 350px;
}

a {
    color: black;
}


.redesLinkedin {
    background-color: white;
    margin: 10px 0px 0px 0px;
    text-align: center;
    position: relative;
    border-radius: 15px;
    display: inline-flex;
}

.redesLinkedin:hover {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #0077B7, 0 0 35px #0077B7, 0 0 40px #0077B7, 0 0 50px #0077B7, 0 0 75px #0077B7;
    transition: 0.3s;
    transform: scale(105%);

}

.redesLinkedin > img {
    width: 95px;
    display: inline-flex;
    position: absolute;
    top: 0;
    bottom: 15%;
    border-radius: 15px;

}
.redesLinkedin > p {
    display: inline-flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin-left: 120px;
    min-width: 350px;
}

.redesSpotify {
    background-color: white;
    margin: 10px 00px 0px 0px;
    text-align: center;
    position: relative;
    border-radius: 50px 15px 15px 50px;
    display: inline-flex;
}

.redesSpotify:hover {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #1ED760, 0 0 35px #1ED760, 0 0 40px #1ED760, 0 0 50px #1ED760, 0 0 75px #1ED760;
    transition: 0.3s;
    transform: scale(105%);

}

.redesSpotify > img {
    width: 95px;
    display: inline-flex;
    position: absolute;
    top: 0;
    bottom: 15%;

}
.redesSpotify > p {
    display: inline-flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin-left: 120px;
    min-width: 350px;
}




.redesEmail {
    background-color: white;
    margin: 10px 00px 0px 0px;
    position: relative;
    border-radius: 50px 15px 15px 50px;
    display: inline-flex;
}

.redesEmail:hover {
    box-shadow: 0 0 5px #D32E2A, 0 0 10px #D32E2A, 0 0 15px #fff, 0 0 20px #D32E2A, 0 0 35px #D32E2A, 0 0 40px #D32E2A, 0 0 50px #D32E2A, 0 0 75px #D32E2A;
    transition: 0.3s;
    transform: scale(105%);

}

.redesEmail > img {
    width: 95px;
    display: inline-flex;
    position: absolute;
    top: 0;
    bottom: 15%;

}
.redesEmail > p {
    display: inline-flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin-left: 120px;
    min-width: 350px;
    text-align: end;
}

footer > p {
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:auto;
    font-size: 15px;
    width: 300px;
    height: 20px;
    border-radius: 40px;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}